* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
       
}

html {
    height: 100%;
    scroll-padding-top: 72px;

    
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

/*****************
 MENU NAVEGACION
 *****************/
.menu-fijo {
    position: static;
}

.menu-todo {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 49, 49);
}


.logo {
    height: 50px;
    padding-left: 20px;
}

.menu-items {
    margin-right: 30px;
}
.menu-items li {    
    list-style: none;
    display: inline-block;
    
    /* padding: 0 0px;    */
}

.menu-items a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover{
    color:#ff0000 
}
/*****************
 MAIN - contenido - GENERALES
 *****************/

 main {
    padding-top: 20px;
 }

h1, h2 {
    text-align: center;

}

/*****************
 FOOTER - PIE-PAGINA
 *****************/

 footer {
    margin-top: auto; /*mantiene el footer abajo cuando hay poco contenido*/
 }
 .pie-pagina {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(51, 49, 49);
    
 }

 /*****************
 INDEX CONTENIDO-MAIN
 *****************/

 

/*****************
 PAGINA 2 CONTENIDO-MAIN
 *****************/
 .producto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: none;
    justify-content: space-around;
    min-height: 100px;
    padding: 20px;
 }

    .producto1{
    display: grid;
    padding: 20px;
    grid-row-gap: 20px;
 }

    .producto2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
 }

    .producto3{
    height: 150px;
 }

    .button{
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border-color: transparent;
    border-radius: 50px;
    height: 25px;
    width: 25px;
 }

    .titulo { 
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 40px;
 }