* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
       
}

html {
    height: 100%;
    scroll-padding-top: 72px;

    
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

/*****************
 MENU NAVEGACION
 *****************/
.menu-fijo {
    position: fixed;
}

.menu-todo {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 49, 49);
}


.logo {
    height: 50px;
    padding-left: 20px;
}

.menu-items {
    margin-right: 30px;
}
.menu-items li {    
    list-style: none;
    display: inline-block;
    
    /* padding: 0 0px;    */
}

.menu-items a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover{
    color:#ff0000 
}
/*****************
 MAIN - contenido - GENERALES
 *****************/

 main {
    padding-top: 80px;
 }

h1, h2 {
    text-align: center;

}

/*****************
 FOOTER - PIE-PAGINA
 *****************/

 footer {
    margin-top: auto; /*mantiene el footer abajo cuando hay poco contenido*/
 }
 .pie-pagina {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(51, 49, 49);
    
 }

 /*****************
 INDEX CONTENIDO-MAIN
 *****************/

 

/*****************
 PAGINA 2 CONTENIDO-MAIN
 *****************/
